ModelViewer/x64/
ModelViewer/GeneratedFiles/
ModelViewer/debug/
ModelViewer/ModelViewer.exe
ModelViewer/ModelViewer.sdf
ModelViewer/ModelViewer.v11.suo
ModelViewer/ModelViewer.vcxproj.user
ModelViewer/lib_to_softimage.bat
ModelViewer/intermediateDir/
ModelViewer/ModelViewer.opensdf
ModelViewer/ModelViewer.vcxproj.filters
StatisticsPro/statisticsProWin32.opensdf
StatisticsPro/statisticsProWin32.sdf
StatisticsPro/statisticsProWin32/GeneratedFiles/
StatisticsPro/statisticsProWin32/Release/
StatisticsPro/statisticsProWin32/x64/
StatisticsPro/x64/
StatisticsPro/ejecutable/statistisPro/Qt5Core.dll
StatisticsPro/ejecutable/statistisPro/Qt5Gui.dll
StatisticsPro/ejecutable/statistisPro/Qt5Network.dll
StatisticsPro/ejecutable/statistisPro/Qt5WebKit.dll
StatisticsPro/ejecutable/statistisPro/Qt5WebKitWidgets.dll
StatisticsPro/ejecutable/statistisPro/Qt5Widgets.dll
StatisticsPro/ejecutable/statistisPro/Qt5Xml.dll
StatisticsPro/ejecutable/statistisPro/countries_constraint.txt
StatisticsPro/ejecutable/statistisPro/currentPath.txt
StatisticsPro/ejecutable/statistisPro/icudt51.dll
StatisticsPro/ejecutable/statistisPro/icudt51.rar
StatisticsPro/ejecutable/statistisPro/icuin51.dll
StatisticsPro/ejecutable/statistisPro/icuuc51.dll
StatisticsPro/ejecutable/statistisPro/old/libEGL.dll
StatisticsPro/ejecutable/statistisPro/old/libGLESv2.dll
StatisticsPro/ejecutable/statistisPro/old/msvcr100.dll
StatisticsPro/ejecutable/statistisPro/old/msvcr110.dll
StatisticsPro/ejecutable/statistisPro/old/msvcr110.rar
StatisticsPro/ejecutable/statistisPro/platforms/qwindows.dll
StatisticsPro/ejecutable/statistisPro/searchStringSchemes.txt
StatisticsPro/ejecutable/statistisPro/seqFile.dwg
StatisticsPro/ejecutable/statistisPro/statisticsPro.exe
StatisticsPro/statisticsProWin32.v11.suo
StatisticsPro/statisticsPro_v4.1.rar
tests_qglviewer/
ModelViewer/ModelViewer.psess
ModelViewer/ModelViewer.vcxproj.chus.nvuser
ModelViewer/ModelViewer140219.vspx
ModelViewer/Performance1.psess
ModelViewer/air/AirLib/cuda/cudaMVC.cu.deps
ModelViewer/air/AirLib/cuda/matrixMul/matrixMul.cu.deps
ModelViewer/vc110.pdb
air/AirLib/cuda/cppIntegration/cppIntegration.cu.deps
air/AirLib/cuda/cudaMVC.cu.deps
air/AirLib/cuda/matrixMul/matrixMul.cu.deps
air/AirLib/cuda/mvc.cu.deps
*.deps
AirViewer/AirViewer/
.gitattributes
AirViewer/AirViewer.opensdf
AirViewer/AirViewer.sdf
AirViewer/AirViewer.v12.suo
AirViewer/x64/Release/AirViewer.exe
ModelViewer/ModelViewer.v12.suo
AirViewer/x64/Debug/AirViewer.exe
AirViewer/x64/Debug/AirViewer.ilk
AirViewer/x64/Debug/AirViewer.pdb
